@charset "UTF-8";
/* CSS Document */


body {
    background-color:#333333;
}

#wrapper {
	margin:auto 0px;
}

.container {
	background-color:#FFF;
	width:3009px;
}

.timer {
	background-color:#666666;
}

.display1 {
	background-image:url(images/black.jpeg);
	background-repeat:no-repeat;
}

.display2 {
	background-image:url(images/blue.jpg);
	background-repeat:no-repeat;
}

.display3 {
	background-image:url(images/orange.jpeg);
	background-repeat:no-repeat;
}